<style>
.container{
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}

span{
    margin: 10px;
}
</style>

<div class="container">
    <span>Oi,{{name}}</span>
    <br>
    <span>Voce solicitou alteração de senha</span>
    <span>Para realizar a troca clique no link</span>
    <a href={{link}}>{{link}}</a>
    <span>Caso não tenha solicitado basta ignorar o email</span>

    <strong>OBG!</strong>

    <h3>equipe | <strong>Rentx</strong></h3>
</div>  